<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Password</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-page">
      <% if (locals.validation_error != undefined || locals.success_message !=
      undefined || locals.login_error != undefined) { %> <%-
      include('./partials/_mesaj') %> <% } %>

      <div class="form">
        <form
          action="/resetpassword/ <%- id %> / <%- token %>"
          method="post"
          class="login-form"
        >
          <input name="sifre" type="password" placeholder="Password" />

          <button type="submit">Change Password</button>
        </form>
      </div>
    </div>
    <script>
      $(".message a").click(function () {
        $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
      });
    </script>
  </body>
</html>
